<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @source.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @source.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @source.image %>
</p>

<p>
  <strong>Doi:</strong>
  <%= @source.doi %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
